@using Telerik.Web.Mvc.UI
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
    @(Html.Telerik().StyleSheetRegistrar().DefaultGroup(group => group.Add("telerik.common.css").Add("telerik.black.css").Combined(true).Compress(true)))    
</head>
<body>
    <div class="page">
        <div id="heroku-header">
            <div id="title">
                <h1>
                    Westlink</h1>
            </div>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>            
        </div>
        <div id="menu">
                @Html.Telerik().Menu().Name("myMenu").Items(items =>
                                    {
                                        items.Add().Text("Home").Action("Index", "Home");
                                        items.Add().Text("Ref Data")
                                            .Items(sub =>
                                                       {
                                                           sub.Add().Text("Add Ref Data").Action("Create", "ReferenceDatas");
                                                           sub.Add().Text("List Ref Data").Action("Index", "ReferenceDatas");
                                                       });                                                    
                                        items.Add().Text("Client")
                                            .Items(sub1 =>
                                                        {
                                                            sub1.Add().Text("Add Clients").Action("Edit", "Client");
                                                            sub1.Add().Text("List Clients").Action("List", "Client");
                                                            sub1.Add().Text("List Telerik Clients").Action("ListTelerik", "Client");
                                                            //sub1.Add().Text("List Async Clients").Action("ListAsync", "Client");
                                                            //sub1.Add().Text("Batch Add").Action("BatchCreate", "Client");
                                                        }
                                            );                                                          
                                    })
            </div>            
        <div id="main">
            @RenderBody()
            <div id="footer">
            </div>
        </div>
    </div>
    @(Html.Telerik().ScriptRegistrar())
</body>
</html>